[Unit]
Description=Run script when tailscale0 link is up
After=network-online.target
Wants=network-online.target
PathChanged=/var/lib/tailscale/tailscaled.state

[Service]
Type=oneshot
ExecStart=/etc/tailscale-tun.sh
RestartSec=35
Restart=on-failure

[Install]
WantedBy=multi-user.target
